.Admin select {
  padding: 3px 5px;
  margin-bottom: 5px;
  width: 150px;
}

.Admin label {
  display: block;
  margin: 10px 0 5px;
}

.Admin input, .Admin textarea {
  padding: 5px;
  width: 100%;
}

.Admin textarea {
  resize: none;
}

.Admin button {
  margin-top: 5px;
  padding: 5px 12px;
}