.TodoAdd {
  display: flex;
  padding-bottom: 15px;
}

.TodoAdd input, .TodoAdd button {
  font-size: 18px;
}

.TodoAdd button {
  padding: 5px 12px;
}

.TodoAdd input {
  padding: 5px;
  flex-grow: 1;
  margin-right: 10px;
}
