.ToWatchFilm {
  border: 1px solid #555;
  position: relative;
  margin-bottom: 10px;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ToWatchFilm input {
  border: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.ToWatchFilm-deleteBtn {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 0;
  background: url(./ic-remove.svg) 50% 50% no-repeat;
  background-size: 60% auto;
  border: none;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.ToWatchFilm-deleteBtn:hover {
  opacity: 0.7;
}

.ToWatchFilm-deleteBtn:active {
  background-size: 55% auto;
  opacity: 1;
}