.Header {
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: 3px solid #900;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

.Header a {
  text-decoration: none;
  color: #fff;
}

.Header nav {
  display: flex;
}

.Header nav a {
  margin-left: 10px;
}

.Header nav a.active {
  color: #d00;
}

.Header nav a:hover {
  color: #f00;
}